.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: azure;
  flex-direction: column;
}

.row {
  position: relative;
}

.container {
  position: absolute;
  width: 60vw;
  height: 90vh;
  overflow: hidden;
  background: wheat;
  border-radius: 30px;
  top: -45vh;
}

.container>img {
  width: 100%;
  height: 100%;
}